*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(252, 252, 252);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    width: 100%;
}

main{
    width: 100%;
    padding: 90px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}

section{
    margin-left: 10%;

    display: flex;
    align-items: flex-start;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.356);
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

    max-width: 400px;
    min-width: 100px;
    

    padding: 20px 20px 50px 20px;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.paragrafos-geral{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.paragrafo1{
    font-size: 12px;
    letter-spacing: 4px;
}
.titulo{
    font-family:'Times New Roman', Times, serif;
    font-size: 37px;
}
.paragrafo2{
    font-size: 14px;
    width: 90%;
}

.informacoes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sobre{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.bnt{
    width: 65%;
    background-image: linear-gradient(360deg, #dd0000 0%, #910000 100%);
    box-shadow: 0px 0px 5px rgb(133, 0, 0);
    color: rgb(241, 241, 241);

    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.bnt:hover{
    background-image: linear-gradient(360deg, #ce0000 0%, #8a0000 100%);

}




article{
    width: 100%;
    padding: 150px 0;
    background-image: linear-gradient(360deg, #a70000 0%, #8a0000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.article-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
video{
    width: 600px;
    height: 400px;
    margin: auto;
}



footer{
    padding: 20px 0;

    background-color: #240000;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.icon{
    width: 20px;
    margin-left: 5px;
}

footer p{
    display: flex;
    align-items: center;
    gap: 2px;
}


*::-webkit-scrollbar {
    width: 1rem;
}
*::-webkit-scrollbar-track {
    background-image: linear-gradient(360deg, #a70000 0%, #8a0000 100%);
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(63, 0, 0);
    border-radius: 20px;
    border: 0.2rem solid #8a0000;
    cursor: pointer !important;
}
